.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 18px;
  padding: 2em 10em;
  border: 2em;
}
p{
    text-align: left;
    padding: 2em;
    border: 1px solid #f5f3ef;
    border-radius:8px;
    color: #f5f3ef;
}
.section{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
body {
    font-family: "New-Order", sans-serif;
    font-style: normal;
    background-color: #285a33;
    color: #f5f3ef;
    font-size: 1em;
}

header {
    position: fixed;
    background:#f5f3ef;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 8em;
    color: #285a33;
    border-bottom: 2px solid #285a33;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#location a {
    color: black;
    font-family:  "New-Order", sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

h1{
font-family: "abril-titling", serif;
font-weight: 400;
font-style: normal;
font-size:4em;
text-align:center;
}

h2{
font-family: "abril-titling", serif;
font-weight: 200;
font-style: normal;
text-align:center;
font-size: 3em;
color:#f5f3ef;
}

#time{
    color: black;
    font-family:  "New-Order", sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

.last-item{
    text-align: center
}


.center-item {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 60%;
}


img {
    display: block;
    margin:0 auto;
    justify-content: center;
    border-radius: 50px;
}
.color{
background-color: #285a33;
}
