.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 18px;

  /* IMPORTANT: make grid centered */
  max-width: 1100px;
  margin: 0 auto;

  /* reduce padding so it doesn’t push your “center” */
  padding: 2em 2em;
}
p{
    text-align: left;
    padding: 2em;
    border: 0.5px solid #f5f3ef;
    border-radius:8px;
    color: #f5f3ef;
}
.section{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
body {
    font-family: "New-Order", sans-serif;
    font-style: normal;
    font-weight: 40;
    background-color: #194231;
    color: #fbf3e5;
    font-size: 1em;
}

.center-content.image {
  display: flex;               /* horizontal centering */
  justify-content: center;     
  width: 100%;                 /* full width of parent */
  margin: 2em 0;
  top: 20;               /* space above and below */
  position: relative;         
  z-index: 1;
}

.center-content.image img {
  max-width: auto;              /* responsive */
  height: auto;
  display: block;
}

header {
    position: fixed;
    background:#fbf3e5;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 8em;
    color: #194231;
    border-bottom: 2px solid#194231;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#location a {
    color: black;
    font-family:  "New-Order", sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

h1{
font-family: "abril-titling", serif;
font-weight: 400;
font-style: normal;
font-size:4em;
text-align:center;
}

h2{
font-family: "abril-titling", serif;
font-weight: 200;
font-style: normal;
text-align:center;
font-size: 3em;
color:#fbf3e5;
}

#time{
    color: black;
    font-family:  "New-Order", sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

.last-item{
    text-align: center
}


.center-item {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 60%;
}

.color{
background-color: none;
}

.image{
  display: block;
  width: 280px;
  height: auto;
  margin: 0 auto;

  transform: translateY(-60px); /* half of header height */
  position: relative;
  z-index: 1;
}