
       body {
            font-family: 'Lato', sans-serif;
            line-height: 1.5;
            margin: 20px;
            text-align: left;
            color: #fb7995;
            text-align: center;
        }

        h1, h2, h3 {
        font-family: 'Trebuchet MS', Arial, sans-serif;
        color: #e43d21; /* red headings */
        text-align: center;
        }

        h1 {
            font-family: 'Trebuchet MS', Arial, sans-serif;
            color: #e43d21;
            text-align: center;
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 5px;  
        }

        h2 {
            font-family: 'Trebuchet MS', Arial, sans-serif;
            text-align: center;
            font-size: 28px;
            margin-top: 5px;   
            margin-bottom: 10px;
        }
        
        h3{
            font-family: 'Trebuchet MS', Arial, sans-serif;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px; 
            color: #ffa2b6
        }
         li:hover {
            background-color: #fff2a8;
        }
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 0.5px;
            margin: 10px 0;
        }
        .location {
            font-size: 20px;     
            font-family: 'Lato', sans-serif;
            margin-top: 0;
            margin-bottom: 15px;
        }
        .dots {
            border: none;
            border-top: 2px dotted #e43d21;
            margin: 20px 0;
        }

       .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        column-gap: 40px;
        row-gap: 20px;
        list-style: none;   
  
        }