body {
font-family: "New-Order", sans-serif;
font-weight: 100;
font-style: normal;
padding: 1em;
margin: 1em;
}

h1 {
font-family: "ogg", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 6em;
color: #e43d21;
margin-bottom: 0.1em;
}

h2 {
    font-family: "ogg", sans-serif;
    color: #e43d21;
    font-size: 2em;
}

#disclaimer {
font-family: "ogg", sans-serif;
text-align: center;
}

h2 {
font-family: "ogg", sans-serif;
color: #e43d21;
font-size: 2em;
}

h3 {
font-family: "ogg", sans-serif; 
}

p:hover {
    background-color: rgb(255, 234, 238);
}

#stars{
    color: #e43d21;
    font-size: 3em;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#location {
    text-align: center;
    margin: 0 auto; 
    font-size: 1.5em;
    border: 2px solid #e43d21;
    width: fit-content;
    padding: 0.2em 0.6em;
    margin-bottom: 0.1em;
}

#location a {
    color: black;

    font-family: "New-Order", sans-serif;
    font-weight:100;
    font-size: 20px;
}
strong {
  font-weight: bold;
  font-family: "New-Order", sans-serif;
}

