body {
  font-family: "New-Order", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #F2EFE6;
  color: #2e2a27;
  font-size: 1.3em;
}

h1 {
  font-family: "chorine-large", sans-serif; /* Make sure exact Adobe name */
  font-size: 6em;
  text-align:center;
}

h2 {
  font-family:"chorine-large", sans-serif; /* Make sure exact Adobe name */
  text-align:center;
  font-size: 2.3em;
  font-size: 3em;
}

/* Menu Grid */
.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 18px;
  padding: 2em;
  border-radius: 30px;
  background-color: #524033;
  color: #F2EFE6;
}

p {
  text-align: center;
  padding: 2em;
  border-radius: 15px;
}

/* Image overlap */
.overlap1 {
  width: 600px;
  margin-top: -300px;
  margin-right: 50px;
  margin-left: 1000px;
}

/* Info row */
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "New-Order", sans-serif; /* exact Adobe name */
}
#location a {
    color: black;
    font-family:   "New-Order", sans-serif;
    text-decoration: none;
    font-weight: bold;
}
img {
    display: block;
    margin:0 auto;
}