.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 18px;
  padding: 2em;
  border: 2em;
}
p{
    text-align: center;
    padding: 2em;
    border: 2px solid #387545;
    border-radius:15px;
}
.section{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
body {
    font-family: "courier new", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F2EFE6;
    color: #387545;
}
h1{
font-family: "abril-titling", serif;
font-weight: 700;
font-style: normal;
font-size:6em;
text-align:center;
letter-spacing: -0.03em;
}

h2{
font-family: "abril-titling", serif;
font-weight: 700;
font-style: normal;
text-align:center;
letter-spacing: -0.03em;
font-size: 2em;
}
.last-item{
    text-align: center
}
img{
display: block;
margin: 0 auto;   
width: auto;   
height: auto;   
}

.info-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:0.1em;
    font-family:  "abril-titling", serif;
    padding: 10em; 
    margin:-8.2em;
}

#location a {
    color: #387545;
    font-family:  "abril-titling", serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.center-item {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 60%;
}